/* Syntax for CSS 
tag {
  propertyName: propertyValue
}
--var ->                Abstracting Variables
tag -> header, footer,  Basic HTML Markup Tags
class -> .name          Abstracting Common Patterns
*/

* {
  box-sizing: border-box;
}

:root {
  --space: 1rem;
  --Xspace: 3rem;
  --fontDarkColor: whitesmoke;
  --bgDarkColor: black;
}

body {
  margin: 0;
  padding: 0;
  font-family: system-ui, sans-serif;
  font-size: 16px;
}

/* Wrapper to restrict widthto max 100ch on large screens*/
.wrapper {
  display: grid;
  grid-template-columns: 1fr min(100ch, 100%) 1fr;
}
.wrapper > * {
  grid-column: 2;
}

/* For Dark Background */
.format {
  background-color: var(--bgDarkColor);
  color: var(--fontDarkColor);
}

header, footer {
  display: flex;
  justify-content: space-between;
  align-items: center; 
  flex-wrap: wrap; 
  padding: var(--space);
}

nav {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  /* align-items: center; */
  gap: 1rem;
}

nav a {
  color: var(--fontDarkColor)
}

/* For Content Area */
main {
  padding: var(--space)
}

section {
  padding: var(--Xspace) 0;
}

.container {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  gap: 1rem;
}

.vis {
  padding: var(--space);
  max-width: 300px;
  outline: 3px solid whitesmoke;
}




